name: Go

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25' 

      - name: Environment Audit
        run: |
          echo "> meminfo"
          cat /proc/meminfo
          echo "> kernel ver"
          uname -a
          echo "> pagesize"
          getconf PAGESIZE
          echo "> locked mem limit"
          ulimit -l         # max locked memory (critical for io_uring fixed buffers)

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

